<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>CuarentTime - Inicio</title>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
		<a class="navbar-brand font-weight-bold text-white" href="#">CuarentTime</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav ml-auto">
		    	<li class="nav-item active">
		        	<a class="nav-link text-black btn btn-outline-light mx-2" href="#">Inicio <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link text-black btn btn-outline-light mx-2" href="#">Autotest</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link text-black btn btn-outline-light mx-2" href="#">Cuidados</a>
		      	</li>
		      	<!-- Example single danger button -->
				<div class="btn-group dropleft">
				  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Usuario
				  </button>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="#">Perfil</a>
				    <a class="dropdown-item" href="#">Preferencias</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">Cerrar Sesión</a>
				  </div>
				</div>
		    </ul>
		</div>
	</nav>

  </head>
  
  <body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <div class="mx-auto mt-5 mb-5" style="width: 500px;">
    	<h3 class="text-center my-2">¡Hola, <span class="text-primary">Usuario</span>!</h3>
  		<div class="input-group">
	  		<input type="text" class="form-control" placeholder="Busca algo para hacer..." aria-label="Text input with segmented dropdown button">
		  		<div class="input-group-append">
		    		<button type="button" class="btn btn-outline-primary">Seleccionar</button>
		   			<button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      			<span class="sr-only">Toggle Dropdown</span>
		    		</button>
		    	<div class="dropdown-menu">
			    	<a class="dropdown-item" href="#">Todos</a>
			    	<div class="dropdown-divider"></div>
			      	<a class="dropdown-item" href="#">Niños</a>
			      	<a class="dropdown-item" href="#">Adolescentes</a>
			      	<a class="dropdown-item" href="#">Ancianos</a>
		    	</div>
	 			</div>
		</div>

	</div>

    <div class="container">

    	<div class="card-columns">

    		<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\SP - The Last Of Us.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">THE LAST OF US</h5>
        			<p class="card-text">Ayuda a Joel y Ellie a sobrevivir a una pandemia que transforma a los seres humanos en caníbales.</p>
      			 	<p class="card-text"><small class="text-muted">#Singleplayer #Aventura #Terror #Accion</small></p>
			    </div>
    		</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\MLO - Among Us.webp" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">AMONG US</h5>
        			<p class="card-text">Prepara tu nave para el viaje, pero ten cuidado, hay un impostor en la tripulación empeñado en matarlos... A TODOS!</p>
      			 	<p class="card-text"><small class="text-muted">#Multiplayer #Online #LAN</small></p>
			    </div>
    		</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\SP - Hotline Miami.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">HOTLINE MIAMI</h5>
        			<p class="card-text">¿Qué pasaría si un días recibes un paquete en tu puerta con una máscara de gallo e instrucciones de robar y matar a mafiosos a petición de unos misteriosos mensajes de voz?</p>
      			 	<p class="card-text"><small class="text-muted">#Singleplayer #Pixel #Accion</small></p>
			    </div>
    		</div>

    		<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\MLO - Left 4 dead 2.webp" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">LEFT 4 DEAD 2</h5>
        			<p class="card-text">Tú y tres amigos deben unirse con el único objetivo de sobrevivir el apocalipsis zombi.</p>
      			 	<p class="card-text"><small class="text-muted">#Multiplayer #Singleplayer #Accion #Terror #FPS</small></p>
			    </div>
    		</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\MO - League Of Legends.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">LEAGUE OF LEGENDS</h5>
        			<p class="card-text">Un juego de estrategia por equipos en el que dos equipos conformados por cinco poderosos campeones se enfrentan para destruir la base del otro. Elige de entre más de 140 campeones para realizar jugadas épicas, asegurar asesinatos y destruir torretas mientras avanzas hacia la victoria.</p>
      			 	<p class="card-text"><small class="text-muted">#Multijugador #Online</small></p>
			    </div>
    		</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="images\SP - Horizon Zero Dawn.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">HORIZON ZERO DAWN</h5>
        			<p class="card-text">Acompaña a Aloy, una marginada, a descubrir un mundo salvaje y primitivo en donde la naturaleza ha cedido su lugar a las máquinas.</p>
      			 	<p class="card-text"><small class="text-muted">#Singleplayer #Aventura #Accion #Mundoabierto</small></p>
			    </div>
    		</div>

		</div>
    </div>

  </body>

  <footer class="footer-copyright mt-auto py-3">
	  <div class="container">
	  
	    <hr class="mx-auto">
	  	<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">Inicio</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Política de Privacidad</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Contacto</a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" href="#">Terminos de Uso</a>
		  </li>
		    <li class="nav-item">
		    <a class="nav-link" href="#">FAQ</a>
		  </li>
		</ul>	
	  </div>
  </footer>
  
</html>