{% extends "base.html" %}
<!doctype html>
<html lang="es">
  <head>
  	{% block content %}
    <title>Inicio</title>

  </head>

  
  <body>


    
    <div class="mx-auto mt-5 mb-5" style="width: 500px;">
  		<div class="input-group">
	  		<input type="text" class="form-control" placeholder="Busca algo para hacer..." aria-label="Text input with segmented dropdown button">
		  		<div class="input-group-append">
		    		<button type="button" class="btn btn-outline-primary">Seleccionar</button>
		   			<button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      			<span class="sr-only">Toggle Dropdown</span>
		    		</button>
		    	<div class="dropdown-menu">
			    	<a class="dropdown-item" href="#">Todos</a>
			    	<div class="dropdown-divider"></div>
			      	<a class="dropdown-item" href="#">Niños</a>
			      	<a class="dropdown-item" href="#">Adolescentes</a>
			      	<a class="dropdown-item" href="#">Ancianos</a>
		    	</div>
	 			</div>
		</div>

	</div>

	<!--/static/images/image1.jpg-->

	<!--PRIMERA FILA------------------------------------------------------------------------------------>

    <div class="container">

    	<div class="card-columns">

    		<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image1.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>


			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image5.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image2.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>
		</div>
    </div>
    <!--SEGUNDA FILA------------------------------------------------------------------------------------------->
    <div class="container">

    	<div class="card-columns">

    		<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image1.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>


			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image3.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image2.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>
		</div>
    </div>

    <!--TERCER FILA------------------------------------------------------------------------------------>
    <div class="container">

    	<div class="card-columns">

    		<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image1.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>


			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image5.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>

			<div class="card my-auto mx-auto">
    			<a href="" data-toggle="modal" data-target="#exampleModal">
    				<img src="/static/images/image2.jpg" alt="" class="card-img-top">	
    			</a>
			    <div class="card-body">
			    	<h5 class="card-title">TITULO</h5>
        			<p class="card-text">Descripción.</p>
			    </div>
    		</div>
    		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  
			  	<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
			 	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			 		<img src="images\1.jpg" alt="" class="img-fluid rounded">			 		
			 	</div>
			</div>
		</div>
    </div>

    
    {% endblock %}
  </body>

  
</html>